*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.jks
*.keystore
/androidApp/build
/shared/build
/iosApp/Pods
*.xcworkspace
*.xcuserstate
DerivedData/
.env
